<div class="shell">
  <div class="row title">
    <div class="col-3"><h4  class="navTitle" [ngClass]="{'navSelected' : switchTab === 0}" (click)="changeTab(0)">Personal</h4></div>
    <div class="col-3"><h4  class="navTitle" [ngClass]="{'navSelected' : switchTab === 1}" (click)="changeTab(1)">Homeville <br> <sub>10-2022</sub></h4></div>
    <div class="col-3"><h4  class="navTitle" [ngClass]="{'navSelected' : switchTab === 2}" (click)="changeTab(2)">Phicode <br> <sub>8-2021</sub></h4></div>
    <div class="col-3"><h4  class="navTitle" [ngClass]="{'navSelected' : switchTab === 3}" (click)="changeTab(3)">Deemsys <br> <sub>7-2020</sub></h4></div>
  </div>
  <ng-container *ngIf="switchTab === 0">
    <div class="row w-100 h-50">
      <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
        <h4  class="title">Personal Projects</h4>
      </div>
      <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
        <h5 class="title">Here are some of my personal projects
          <a target="_blank" matTooltip="Goto" class="links" href="https://pricle-chat.web.app/home">Pricle (Chat)</a>,
          <a target="_blank" matTooltip="Goto" class="links" href="https://formsstorage-2f864.web.app/">Forms (forms)</a>,
          <a target="_blank" matTooltip="Goto" class="links" href="https://chess-3d-angular.web.app/">3D chess</a>
          and check github for more.
        </h5>
      </div>
    </div>
  </ng-container>
      <ng-container *ngIf="switchTab === 1">
        <div class="row w-100 h-50">
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <h4  class="title">Senior Software Engineer</h4>
          </div>
          <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <h5 class="title">Working in fintech projects such as
              <a target="_blank" matTooltip="Goto" class="links" href="https://homecapital.in/">Homecapital Portal</a>,
              <a target="_blank" matTooltip="Goto" class="links" href="https://customer.homecapital.in/login">Homecapital Customer Portal</a>,
              <a target="_blank" matTooltip="Goto" class="links" href="https://lenders.bharathousingnetwork.com/login">BHN Lenders Portal</a>
            </h5>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="switchTab === 2">
        <div class="row w-100 h-50">
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center"><h4  class="title">Full stack engineer</h4></div>
          <div class="col-12 col-md-8 d-flex justify-content-center align-items-center"><h5 class="title">Developing Aerodyne and Telocom projects <a target="_blank" matTooltip="Goto" class="links" href="https://aerodyne.in/">.com</a> , <a target="_blank" matTooltip="Goto" class="links" href="https://aerodyne.group/">.group</a> & <a target="_blank" matTooltip="Goto" class="links" href="https://vertikaliti.com/">Vertikaliti.com</a></h5></div>
        </div>
      </ng-container>
      <ng-container *ngIf="switchTab === 3">
        <div class="row w-100 h-50">
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center"><h4  class="title">Web Developer</h4></div>
          <div class="col-12 col-md-8 d-flex justify-content-center align-items-center"><h5 class="title">Developing Consultant Information Management System - CIMS</h5></div>
        </div>
      </ng-container>
</div>



