<div class="shell">
  <div class="row title">
    <div class="col-3">
      <h4
        class="navTitle"
        [ngClass]="{ navSelected: switchTab === 0 }"
        (click)="changeTab(0)"
      >
        Personal
      </h4>
    </div>
    <div class="col-3">
      <h4
        class="navTitle"
        [ngClass]="{ navSelected: switchTab === 1 }"
        (click)="changeTab(1)"
      >
        Homeville <br />
        <sub>10-2022</sub>
      </h4>
    </div>
    <div class="col-3">
      <h4
        class="navTitle"
        [ngClass]="{ navSelected: switchTab === 2 }"
        (click)="changeTab(2)"
      >
        Phicode <br />
        <sub>8-2021</sub>
      </h4>
    </div>
    <div class="col-3">
      <h4
        class="navTitle"
        [ngClass]="{ navSelected: switchTab === 3 }"
        (click)="changeTab(3)"
      >
        Deemsys <br />
        <sub>7-2020</sub>
      </h4>
    </div>
  </div>
  <ng-container *ngIf="switchTab === 0">
    <div class="row w-100 h-50">
      <div
        class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      >
        <h4 class="title">Personal Projects</h4>
      </div>
      <div
        class="col-12 col-md-8 d-flex justify-content-center align-items-center"
      >
        <div class="title">
          Here are some of my personal projects : <br />
          <ul class="pt-2">
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://pricle-chat.web.app/home"
                >Pricle</a
              >
              <small> (Angular - Social Chat App)</small>
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://formsstorage-2f864.web.app/"
                >Forms</a
              >
              <small> (React - Online Form Builder)</small>
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://chess-3d-angular.web.app/"
                >3D chess</a
              >
              <small> (Angular - 3D-Chess Game)</small>
            </li>
          </ul>
          Check github for more.
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="switchTab === 1">
    <div class="row w-100 h-50">
      <div
        class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      >
        <h4 class="title">Senior Software Engineer</h4>
      </div>
      <div
        class="col-12 col-md-8 d-flex justify-content-center align-items-center"
      >
        <div class="title">
          Building Homevile group projects :
          <ul class="pt-2">
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://homecapital.in/"
                >Homecapital Portal</a
              >
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://customer.homecapital.in/login"
                >Homecapital Customer Portal</a
              >
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://lenders.bharathousingnetwork.com/login"
                >BHN Lenders Portal</a
              >
            </li>
          </ul>
          And few other internal projects.
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="switchTab === 2">
    <div class="row w-100 h-50">
      <div
        class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      >
        <h4 class="title">Full stack engineer</h4>
      </div>
      <div
        class="col-12 col-md-8 d-flex justify-content-center align-items-center"
      >
        <div class="title">
          Developing phicode projects for clients :
          <ul class="pt-2">
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://aerodyne.in/"
                >aerodyne.com</a
              >
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://aerodyne.group/"
                >aerodyne.group</a
              >
            </li>
            <li class="text-start">
              <a
                target="_blank"
                matTooltip="Goto"
                class="links"
                href="https://vertikaliti.com/"
                >Vertikaliti.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="switchTab === 3">
    <div class="row w-100 h-50">
      <div
        class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      >
        <h4 class="title">Web Developer</h4>
      </div>
      <div
        class="col-12 col-md-8 d-flex justify-content-center align-items-center"
      >
        <div class="title">
          Developing an internal project :
          <ul class="pt-2">
            <li class="text-start">
              Consultant Information Management System (CIMS)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>
